{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>{% block title %}{% endblock %} | Ethan Gordon</title>
	<link rel="apple-touch-icon" href="{% static "img/ekglogo_180.png" %}" />
	<link rel="icon" href="{% static "img/ekglogo_196.png" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "style/main.css" %}">
	{% block head %}{% endblock %}
</head>

<body>
	<div id="ribbon">
		<div class="center">
			<header id="topHeader">
				<a href="/">
				<img src="{% static "img/ekglogo.svg" %}" height="90" alt="Ethan's Website Logo"/>
				</a>
				<h3 class="topHeader"><a href="/">Ethan K. Gordon</a></h3>
			</header>
			<nav class="topnav" id="myNav"><ul>
				<li class="icon"><a href="javascript:void(0);" onclick="navResponsive()">&#9776;</a></li>
				<li><a {% if current == 'family' %}class="current"{% endif %} href="/family">Family</a></li>
				<li><a {% if current == 'projects' %}class="current"{% endif %} href="/projects">Projects</a></li>
				<!--
				<li><a {% if current == 'blog' %}class="current"{% endif %} href="#blog">Blog</a></li>
				<li><a href="#login">Log In</a></li>
				-->
			</nav></ul>
		</div>
	</div>
	<div class="wrapper center">
	<main>
	{% block content %}{% endblock %}
	</main>
	</div>
	<footer>
		<div class="center">
			<ul>
				<li><a href="/contact">Contact</a></li>
				<li><a href="https://github.com/egordon">Github</a></li>
				<li><a href="https://github.com/egordon/ethankgordon.com">Source</a></li>
			</ul>
			<p> Copyright &copy; <span id="cYear">2016</span> Ethan Gordon. All rights reserved.</p>
			<p> Website Trouble? Email <a href="mailto:website@ethankgordon.com">website@ethankgordon.com</a></p> 
			
		</div>
	</footer>
	<div id="overlay">
		<div id="modal">
			<div style="text-align: right; width=100%; padding-right: -20px"><a href="javascript:overlay()" style="text-decoration: none; color: #222">&#x2716;</a></div>
			{% block modal %}
			<div id="modalContent"><p>Loading...</p><div class="loader"></div>
			</div>
			{% endblock %}
		</div>
	</div>
	<script>
	function overlay() {
		el = document.getElementById("overlay");
		el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible" ;
	}
	function navResponsive() {
    		var x = document.getElementById("myNav");
    		if (x.className === "topnav") {
        		x.className += " responsive";
    		} else {
        		x.className = "topnav";
    		}
	}
	var d = new Date();
	document.getElementById("cYear").textContent = d.getFullYear();
	</script>
</body>

</html> 
