{% extends "base.html" %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block head %}
<script>
function resizeframe() {
	window.frames[0].style.width = window.innerWidth;
}

function setupframe(obj) {
	window.onresize = resizeframe;
	obj.style.width = window.innerWidth;
}
</script>

<style type="text/css">
    h5 {
        margin-top; 10px;
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}
<h1>Contact</h1>
<h5>ethan &lt;at&gt; ethankgordon &lt;dot&gt; com</h5>
<h5>Facebook: <a href="https://fb.com/ekgekg">fb.com/ekgekg</a></h5>
<h5>LinkedIn: <a href="https://www.linkedin.com/in/ekgordon/">ekgordon</a></h5>
<h5>Github: <a href="https://github.com/egordon">egordon</a></h5>
<h5>Keybase: <a href="https://keybase.io/miramur">miramur</a></h5>
<div style="width: 800px; height: 520px; overflow: hidden">
<iframe src="https://flowcrypt.com/me/ekgordon2" style="position: 
relative; top: -255px; width: 800px; height: 750px; border: none" scrolling="no"></iframe>
</div>
<div style="clear: both"></div>
{% endblock %}
