{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<section>
	<img src="{% static "img/ethan.jpg" %}" alt="Image of Ethan" />
	<p>Currently, I work for <a href="https://www.oculus.com/">Oculus</a> on core tracking technologies.
	My undergraduate study at Princeton University focused on engineering physics and silicon photonics. Now, I am shifting my focus
	towards human-computer and human-robot interaction. My professional goal is to expand human knowledge in
	Computer Science and Electrical Engineering not	just for its own sake, but to advance the human condition.</p>
	<div style="clear: both"></div>
</section>
<section>
	<h3>Web Philosophy</h3>
	<p>Based off of <a href="http://motherfuckingwebsite.com" 
	onclick="return confirm('Warning: External site with strong language')">
	this scathing diatribe</a>, the goal of this site is to be simple and 
	lightweight place for learning and practice. As much as reasonably possible,
	I have tried to homebrew everything.</p>
</section>
<div style="clear: both"></div>
{% endblock %}
