{% extends "base.html" %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}

<style type="text/css">
    .column {
        float: left;
        width: 500px;
        padding-left: 20px;
    }

    .imgcol {
        float: left;
        width: 250px;
        padding: 5px;
        text-align: center;
    }

    .imgcol img {
        padding: 0;
    }

    .nopad {
        padding-left: 0;
        padding-right: 0;
    }

    .imgcol nav ul li {
        float: right;
        height: inherit;
    }

    @media (max-width: 600px) {
        .column {
            width: 100%;
        }
        .imgcol {
            width: 100%;
        }
    }


    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<h1>Projects</h1>

<section class="nopad">
    <h2>Research / Curricular</h2>
    <section class="nopad">
        <h3>Photonic Neural Network Design, Control, and Simulation</h3>
        <div class="row">
            <div class="imgcol">
                <img src='{% static "projects/img/thesis.png" %}' width="100%" />
            </div>
            <div class="column">
                <p>
                    This independent project investigates the design and control of photonic neural networks. I focused on the thermal control and calibration of network components, as well as demonstrating that the network dynamics were sufficient to solve standard non-linear classification problems.
                </p>
                <p>
                    Additionally, as a component of this thesis, I created LightLab, a general laboratory simulation environment. All calibration and training procedures in this thesis could be tested on simulated laboratory instruments. This allowed for good agreement between simulated and empirical results.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="imgcol">
                <div class="container">
                    <nav><ul>
                        <li><a href='{% static "projects/Gordon_Ethan_Thesis.pptx" %}'>Slides</a></li>
                        <li><a href='{% static "projects/thesis_poster.pdf" %}'>Poster</a></li>
                        <li><a href='{% static "projects/Gordon_Senior_Thesis.pdf" %}'>Paper</a></li>
                    </ul></nav>
                </div>
            </div>
            <div class="column">
                <p>
                    <i>LightLab is currently closed-source by Princeton.</i>
                </p>
            </div>
        </div>
    </section>
    <section class="nopad">
        <h3>Ball Catcher</h3>
        <div class="row">
            <div class="imgcol">
                <img src='{% static "projects/img/carlab.jpg" %}' width="100%" />
            </div>
            <div class="column">
                <p>An quasi-independent project (due to some unforeseen circumstances) for Car Lab (ELE 302), Ball Catcher was designed to track and catch a thrown projectile. I had to design and build the chassis and holonomic drivetrain to maximize the catch radius, design and wire four H-Bridges for responsive current deliver, and implement a controller to predict the landing position of the projectile and guide the robot in that direction.</p>
            </div>
        </div>
        <div class="row">
            <div class="imgcol">
                <div class="container">
                    <nav><ul>
                        <li><a href="https://github.com/egordon/CarLab">Source/CAD</a></li>
                        <li><a href='{% static "projects/Gordon_CarLab.pdf" %}'>Paper</a></li>
                    </ul></nav>
                </div>
            </div>
            <div class="column">
                <p>
                    <i>Implementation and Design is Open-Source. Presented at Princeton.</i>
                </p>
            </div>
        </div>
    </section>
    <section class="nopad">
        <h3>Integrated Power-Efficient Quantum Randomness</h3>
        <div class="row">
            <div class="imgcol">
                <img src='{% static "projects/img/spad.png" %}' width="100%" />
            </div>
            <div class="column">
                <p>
                    In this partner project, we designed an integrated system to utilize quantum randomness in linear optics. Compared to classical pseudo-random schemes, we determined that this system (along with other similar systems) is not power efficient for a practical number of bits with current single-photon avalanche diode technology.

                </p>
            </div>
        </div>
        <div class="row">
            <div class="imgcol">
                <div class="container">
                    <nav><ul>
                        <li><a href='{% static "projects/VLSI_Presentation.pptx" %}'>Slides</a></li>
                        <li><a href='{% static "projects/VLSI_Final.pdf" %}'>Paper</a></li>
                    </ul></nav>
                </div>
            </div>
            <div class="column">
                <p>
                    <i>Final investigation was not published due to negative results.</i>
                </p>
            </div>
        </div>
    </section>
    <section class="nopad">
        <h3>Mode Division Multiplexed Weight Bank Design</h3>
        <div class="row">
            <div class="imgcol">
                <img src='{% static "projects/img/mdm.png" %}' width="100%" />
            </div>
            <div class="column">
                <p>
                    This independent project consists of three experimental designs ready for fabrication, each of which investigates the process of expanding neuromorphic photonic technology to include spatial mode division multiplexing.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="imgcol">
                <div class="container">
                    <nav><ul>
                        <li><a href='{% static "projects/Gordon_IW_Poster.pdf" %}'>Poster</a></li>
                        <li><a href='{% static "projects/Gordon_Junior_IW.pdf" %}'>Paper</a></li>
                    </ul></nav>
                </div>
            </div>
            <div class="column">
                <p>
                    <i>Fabrication and experimentation in progress. Presented at Princeton.</i>
                </p>
            </div>
        </div>
    </section>
    <section class="nopad">
        <h3>CoinJoin</h3>
        <div class="row">
            <div class="imgcol">
                <img src='{% static "projects/img/coinjoin.png" %}' width="100%" />
            </div>
            <div class="column">
                <p>A partner project for the Cryptocurrencies Graduate Seminar (COS 597E), this is an implementation of the <a href="https://en.bitcoin.it/wiki/CoinJoin">CoinJoin</a> algorithm. It takes advantage of the multi-output property of bitcoin transactions to grant true anonymity instead of just pseudonymity.</p>
            </div>
        </div>
        <div class="row">
            <div class="imgcol">
                <div class="container">
                    <nav><ul>
                        <li><a href="https://github.com/egordon/CoinJoin">Source</a></li>
                        <li><a href="https://www.youtube.com/watch?v=XaVfD5c-fd4">Video</a></li>
                    </ul></nav>
                </div>
            </div>
            <div class="column">
                <p>
                    <i>Implementation is Open-Source. Presented at Princeton.</i>
                </p>
            </div>
        </div>
    </section>
</section>
<hr />
<section class="nopad">
    <h2>Work / Extracurricular</h2>
    <section class="nopad">
        <h3>LittleBRO: Brown Robotics Olympiad</h3>
        <div class="row">
            <div class="imgcol">
                <img src='{% static "projects/img/littlebro.jpg" %}' width="100%" />
            </div>
            <div class="column">
                <p>In this small-team project (for which I participated in 2014 and mentored in 2017), we designed to build a little robot to autonomously solve a maze.</p>
            </div>
        </div>
        <div class="row">
            <div class="imgcol">
                <div class="container">
                    <nav><ul>
                        <li><a href="https://github.com/egordon/LittleBRO">Source</a></li>
                    </ul></nav>
                </div>
            </div>
            <div class="column">
                <p>
                    <i>Open-Source. Competed at Brown.</i>
                </p>
            </div>
        </div>
    </section>
    <section class="nopad">
        <h3>EMP: Encrypted Messaging Protocol</h3>
        <div class="row">
            <div class="imgcol">
                <img src='{% static "projects/img/emp.png" %}' width="100%" />
            </div>
            <div class="column">
                <p>
                    A protocol and prototype independently designed 
and built for a now-defunct start-up, EMP is an encrypted, distributed 
messaging platform similar to BitMessage, but with higher bandwidth and added privacy features.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="imgcol">
                <div class="container">
                    <nav><ul>
                        <li><a href="https://github.com/encryptedmessaging/emp">Source</a></li>
                    </ul></nav>
                </div>
            </div>
            <div class="column">
                <p>
                    <i>Open-Source.</i>
                </p>
            </div>
        </div>
    </section>
</section>
<hr />
<section class="nopad">
    <h2>Personal / Hacks</h2>
    <section class="nopad">
        <h3>Stasl: Localized Subtitles</h3>
        <div class="row">
            <div class="imgcol">
                <img src='{% static "projects/img/stasl.png" %}' width="100%" />
            </div>
            <div class="column">
                <p>
                    This small group hack aids the deaf and hard-of-hearing by telling the user <i>where</i> speech is coming from in addition to providing standard speech-to-text subtitles.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="imgcol">
                <div class="container">
                    <nav><ul>
                        <li><a href="https://github.com/egordon/Stasl">Source</a></li>
                    </ul></nav>
                </div>
            </div>
            <div class="column">
                <p>
                    <i>Open-Source. Recognized at Greylock Hackfest.</i>
                </p>
            </div>
        </div>
    </section>
    <section class="nopad">
        <h3>ASL Letter Transcriber</h3>
        <div class="row">
            <div class="imgcol">
                <img src='{% static "projects/img/asl.jpg" %}' width="100%" />
            </div>
            <div class="column">
                <p>
                    This small group hack uses trained contours to transcribe individual American Sign Language (ASL) letters in real time. While originally written to take advantage of mobile platforms, the code works cross-platform.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="imgcol">
                <div class="container">
                    <nav><ul>
                        <li><a href="https://github.com/egordon/ASLTegra">Source</a></li>
                    </ul></nav>
                </div>
            </div>
            <div class="column">
                <p>
                    <i>Open-Source. Recognized at HackPrinceton.</i>
                </p>
            </div>
        </div>
    </section>
    <section class="nopad">
        <h3>P-Auth: Hands-Free Authentication</h3>
        <div class="row">
            <div class="imgcol">
                <img src='{% static "projects/img/pauth.jpg" %}' width="100%" />
            </div>
            <div class="column">
                <p>
                    P-Auth allows users to authenticate based on eye movements using the face recognition API of Project Oxford. Users first register 
by training a face with a single picture. They can then login by sending two pictures of their face that differ only through pupil movement in a 
random direction as dictated by the server.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="imgcol">
                <div class="container">
                    <nav><ul>
                        <li><a href="https://github.com/itdelatrisu/hp-f2015">Source</a></li>
                    </ul></nav>
                </div>
            </div>
            <div class="column">
                <p>
                    <i>Open-Source. Recognized at HackPrinceton.</i>
                </p>
            </div>
        </div>
    </section>
    <section class="nopad">
        <h3>BTC Oracle</h3>
        <div class="row">
            <div class="imgcol">
                <img src='{% static "projects/img/btcoracle.jpg" %}' width="100%" />
            </div>
            <div class="column">
                <p>
BTC Oracle provides a means to create a cryptographically enforced contract based on arbitrary conditions written in python. We also developed a 
local application that runs alongside your existing bitcoin wallet (bitcoind) and provides an interface to the oracle itself. More information about 
oracles can be found on the <a href="https://en.bitcoin.it/wiki/Oracle">Bitcoin Wiki</a>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="imgcol">
                <div class="container">
                    <nav><ul>
                        <li><a href="https://github.com/egordon/btcoracle">Source</a></li>
                    </ul></nav>
                </div>
            </div>
            <div class="column">
                <p>
                    <i>Open-Source. Presented at HackPrinceton.</i>
                </p>
            </div>
        </div>
    </section>
</section>

{% endblock %}
